body{
    box-sizing: border-box;
    animation: opacit 2 s linear;
}
.heading{
    padding: 4% 8%;
}
.card-title{
    font-weight: 500 !important;
}
#countrySearch{
    margin: 3% 7% 4% 7%;
}
#countrySearch label{
    font-size: medium;
    font-weight: bold;
}
#error{
    display: none;
    height: 100vh;
    width: 100vw;
    border: 3rem solid white;
}
#errorHead{
    margin: auto;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 20%;
}

@keyframes opacit{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}